{% assign day         = page.date | date: "%-d" %}
{% assign month_idx   = page.date | date: "%-m" | minus: 1 %}
{% assign nor_month   = site.months[month_idx] %}
{% assign year        = page.date | date: "%Y" %}
{% assign words       = content | number_of_words %}
{% assign read_time   = words | divided_by: 220 | plus: 1 %}
<div class="meta-row">
  {% if page.category %}
  <span class="cat">{{ page.category }}</span>
  {% endif %}
  <span>{{ day }}. {{ nor_month }} {{ year }}</span>
  <span class="dot" aria-hidden="true"></span>
  <span>Savino</span>
  <span class="dot" aria-hidden="true"></span>
  <span>{{ read_time }} min lesning</span>
</div>
